.tagline
  At Pi Kappa Phi, we strive for excellence across campus.
Pi Kappa Phi is a collegiate men’s fraternity made up of leaders by choice. The national fraternity sports over 200 chapters across the country and was founded on the campus of Illinois in 1921. Today, the Upsilon chapter at the University of Illinois consists of nearly 100 members.
%br
%br
The chapter focuses on the development of brothers into well-rounded men. Areas of focus among its members lay in academics, philanthropy and service, social, and brotherhood aspects.  Some highlights in the past year alone for the chapter include raising over $10,000 for Push America, a charity benefitting people with disabilities, 26 new brothers being welcomed into our fraternity, a 40-team league intramural championship in soccer, numerous social events, and brotherhood activities ranging from campouts to Iron Chef cook-offs.