%div
  We are currently in the process of rebooting our alumni relations program. If you are an alumnus, we want to hear from you!
  %br
  %br
  Please contact our Historian, Kevin Cohn, at 
  %a{:href=>"mailto:kevcohn7@gmail.com"}
    kevcohn7@gmail.com
  or (847) 542-2440.
  %br
  %br
  %div.heading
    Events
  Every semester the Undergraduate Chapter hosts an alumni event. In the Fall semester we host Homecoming (October 26, 2013) and in the Spring semester we host Refounder's Day (date TBA). The alumni chapter also hosts events throughout the year. We will update this page accordingly when we have more information.
  %br
  %br
  %div.heading
    Staying In Touch
  We will be introducing a feature to update your contact information, but for now please contact the current Historian (his information is above). Make sure to like us on Facebook and follow us on Twitter to keep up to date with the chapter.

  %br
  / %br
  / %div.heading
  /   Alumni Chapter
  / :markdown
  /   If you are looking for information about our alumni chapter, please visit their website at [http://illinois-pikapps.com](http://illinois-pikapps.com).
  %br
  %div.heading
    Donations
  Please visit our donations page for more information.