You can contact our Historian, Kevin Cohn, either electronically, over the phone, or through the mail. He'd love to get in contact with you!
%br
%br
%div
  %div.heading
    Electronically & Over the Phone
  You may contact our Historian, Kevin Cohn via e-mail or on the phone using the following information:
  %div.monospace
    Kevin Cohn
    %br
    kevcohn7@gmail.com
    %br
    (847) 542-2440
  %br
  %div.heading
    Mail
  Please send all mail to:
  %div.monospace
    Attn: Kevin Cohn
    %br
    Pi Kappa Phi Upsilon Chapter
    %br
    306 E. Gregory Drive
    %br
    Champaign, IL 61820
