We appreciate your willingness to help our Chapter financially. All donations are tax deductible and we are a 501(c)(3) charitable organization. Donations go towards strengthening the House, both physically and metaphorically. Previous donations have gone to things like a TV, letters and a starshield for the chapter room.
%br
%br
We accept donations via credit card or check.
%br
%br
%div
  %div.heading
    Credit Card
  We accept donations by Visa, Mastercard, Discover and American Express credit cards through PayPal.
  %br
  %br
  We offer a subscription service or a one-time donation.
  %div.ccdonate
    %img.floatimg{:src=>"https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"}
    %img.floatimg{:src=>"https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif"}
%br
%div
  %div.heading
    Check
  Please make your checks payable to Pi Kappa Phi and mail them to:
  %div.monospace
    Attn: Brett Jurgens
    %br
    Pi Kappa Phi Upsilon Chapter
    %br
    306 E. Gregory Drive
    %br
    Champaign, IL 61820