!!! 5
%html
  %head
    %title Pi Kappa Phi - Upsilon Chapter
    %link{:rel => "shortcut icon", :type => "image/png", :href => "/images/favicon.png"}/
    %link{:href => "/css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:type=>"text/javascript", :src=>"//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"}
    %script{:type=>"text/javascript", :src=>"/js/script.js"}

  %body
    %header
      #logo{:onclick => "javascript:window.location='/'"}
      %ul#headermenu
        %li
          %a{:href => "/pages/about"} About
        %li
          %a{:href => "/pages/history"} History
        %li
          %a{:href => "/pages/alumni"} Alumni
        %li
          %a{:href => "/pages/recruitment"} Recruitment
        %li
          %a{:href => "/pages/philanthropy"} Philanthropy
        %li
          %a{:href => "/pages/contact"} Contact
        %li
          %a{:href => "/pages/donate"} Donate
    %div#fb-root