%div
  %div.heading
    National History
  Pi Kappa Phi started as an idea of three friends at the College of Charleston in South Carolina. In 1904, we were founded as Nu Phi, the “non-fraternity.” Since then, over 113,000 men have initiated into Pi Kappa Phi, and 178 chapters across 41 states bear our letters.
  %br
  %br
  :markdown
    Learn more about our past and present at our national fraternity’s [website](http://pikapp.org/content.aspx?id=172).
  %br
  %br
  %div.historyimagecontainer
    %div.historyimage
      %img{:src=>"/images/founders.png"}
      %div
        Pi Kappa Phi Founding Fathers
  %br
  %br
  %br
  %div.heading
    Local History: Gamma Sigma Kappa
  %span.italic
    Adapted from Sturges LaVerne Victor (Y45)'s Article "History of Gamma Sigma Kappa Fraternity" from the October 3rd, 1921 issue of The Star & Lamp.
  %br
  %br
  In 1921 the local chapter of Gamma Sigma Kappa became Pi Kappa Phi. The Upsilon chapter is one of the few chapters whose original charter was that of another fraternity. The idea of the formation of Gamma Sigma Kappa Fraternity was conceived by five young men meeting one evening in the spring of 1917 in a basement room of an apartment house in Urbana. It is also said that these founders of the fraternity voted on the measures brought before them on that evening by raising their right foot, signifying thereby that they would give their right foot ere they deserted their organization. Although these five students laid the foundations for the building of the fraternity, not a great deal was accomplished in the way of organization in this spring nor in the following fall except in the selection of seven other men for membership. The first members of Gamma Sigma Kappa were (in the order in which they were received and their Upsilon initiation numbers):
  %ul.indentedlist
    %li
      Walter Haines Newcomb, Y56
    %li
      Huber Honens Rathbun, Y59
    %li
      Elmer Nels Turnquist, Y44
    %li
      Mybert Eustace Broom, Y13
    %li
      Robert Miller Pearson, Y38
    %li
      Eugene Robert Eleson, Y70
    %li
      Millard Everett Brame, Y9
    %li
      Roy Leslie Barker, Y3
    %li
      Marshall Everett Newton, (not initiated as a Pi Kappa Phi)
    %li
      John Henry Wamsley, Y48
    %li
      Rudolph Albert Faust, Y57
    %li
      Carl Roscoe Miller, Y35
  %br
  %div.historyimagecontainer
    %div.historyimage
      %img{:src=>"/images/gskbadge.png"}
      %div
        Gamma Sigma Kappa Badge (Courtesy of The Star & Lamp, November 1959)
  %br
  When school opened in the fall of 1918, the war had brought about a number of radical changes. The university had taken over all fraternity houses to be used as barracks. The quest for a house would have to be put on hold. Immediately after the disbanding of the Students' Army Training Corps and the return of the university to normal, the fraternity again became active and work in organization was carried on in earnest. By the end of the quarter, the chapter house at One-O-Six Green Street had been contracted for.
  %br
  %br
  While working hard to make a name for ourselves on the campus of the University of Illinois by delving into all activities, we began to think of nationalization. In the spring of the preceding year the first steps were taken towards nationalization. Before school ended that spring a few letters had been sent to Pi Kappa Phi officials. In the fall of 1920 the nationalization idea was first in the mind of every member, and Commander Paul Walker proceeded with this work in earnest. Our ambitions and hopes were realized after a year of waiting when, on May 19, 1921, we were presented a charter as Upsilon Chapter of Pi Kappa Phi Fraternity.
  %br
  %br
  %div.heading
    Local History: Upsilon's Installation
  %span.italic
    Adapted from Karl Malcom Gibbon (Y21)'s Article "Installation of Upsilon Chapter" from the October 3rd, 1921 issue of The Star & Lamp.
  %br
  %br
  On Thursday, May 19, 1921, Gamma Signa Kappa, local fraternity at the University of Illinois, was installed as Upsilon Chapter of Pi Kappa Phi Fraternity. The installing officers were Roy J. Heffner, Gamma, Eminent Supreme Archon, James W. Setze, Jr., Iota, Eminent Supreme Grapter, and George D. Driver, Nu, Supreme Councilman from the West.
  %br
  %br
  The three installing officers arrived at the chapter house at One-O-Six Wednesday evening, May 18. For a long year we had looked forward to the day on which we would have the privilege of opening our doors to these individuals.
  %br
  %br
  The alumni brothers had been coming in since the first part of the week, and by Thursday noon, fourteen had assembled. We think this a good representation. Among the fourteen were eight of the twelve charter members of Gamma Sigma Kappa and two past commanders of the local, Brothers McGuire and Broom. I might mention here that Brother Newcomb, the first commander of Gamma Sigma Kappa, has since been initiated into Pi Kappa Phi. Our three faculty members, Brother O. A. Barnes, of the chemistry department; Brother W. E. Eddington, of the mathematics department, and Brother D. E. Woods, of the electrical engineering department, were present. Brother Faust, who had come from Indianapolis, Ind., to take the initiation, was ill and unable to leave his room at the hotel. The members of Upsilon will always remember the kindness of the installing officers in giving him the ceremonies in his room.
  %br
  %br
  %br
  %div.historyimagecontainer
    %div.historyimage
      %img{:src=>"/images/gskbadgenationals.png"}
      %div
        Brother Rudolph "Pinky" Faust (Y57)'s Gamma Sigma Kappa Badge (Taken at the National PiKapp Museum, by Brother Eric Langenfeld)

  %br
  %br
  I think that every man assembled in the chapter room that day for the last meeting of the local will admit that it hurt somewhat to give up the Gamma Sig badge to which he had become so attached, and to obtain which he had worked and made sacrifices, but orders are orders and must be obeyed. So with a happy thought of the new and better organization into which we were soon to be brought, we turned them in, and proceeded with the destruction of Gamma Sigma Kappa.
  %br
  %br
  After adjourning from this meeting we had a few minutes intermission. Then we assembled a second time and anxiously awaited the pleasure of the installing officers. We were not kept long in waiting, for in a few minutes the ceremonies began. The work was well presented and we were much impressed with the beauty and impressiveness of the ritual, and were pleased with the high ideals of Pi Kappa Phi. Before it was over, the realization that we were responsible for upholding them in a large section of the country was brought home to everyman. You may be sure that each brother was proud to receive a membership certificate from the hands of Jimmy Setze, and to have a Pi Kapp badge pinned upon his breast by Brother Heffner. Having completed the ceremonies, the installing officers proceeded to tell us what Pi Kappa Phi expected of Upsilon. Brothers Walker, McGuire and Broom assured them that the men they had chosen to wear the Pi Kapp pin at Illinois were not in the habit of permitting disappointments, after which we adjourned for a two-hour recess before meeting in the banquet room of the Hotel Beardsley for the installation banquet.
  %br
  %br
  %br
  %div.historyimagecontainer
    %div.historyimage
      %img{:src=>"/images/upsilonfounders.jpg"}
      %div
        Upsilon Founding Fathers (Courtesy of The Star & Lamp, October 1921)
  %br
  %br
  Besides the forty-two active members, the seventeen alumni members, and the three installing officers, the following university officials attended the banquet: Dean C. M. Thompson, of the College of Commerce, Dean F. H. Rankin, of the College of Agriculture, and Professor Ira O. Baker, of the College of Engineering. The tables were arranged in the shape of a large I. At one end sat the installing officers, the guests and the first officers of Upsilon. At the other end sat the charter members of Gamma Sigma Kappa. The room was decorated in orange and blue, Gamma Sigma Kappa colors, and gold and white, Pi Kappa Phi colors. On the table were flowers of both the red and ophelia roses.
  %br
  %br
  It was 11 o'clock before the banquet ended, and it was near 12 before we reached home, but even then these new Pi Kapp brothers were not ready to end this great day in their lives, and a good part of the remainder of the night was spent in singing, playing the piano, and plying the supreme officers with questions.
  %br
  %br
  %div.heading
    Local History: Recolonization
  The recolonization of the Upsilon Chapter of Pi Kappa Phi Fraternity at the University of Illinois’ Champaign-Urbana campus began in the early days of February, 2003.  The National Headquarters of Pi Kappa Phi began its recruitment effort with three expansion consultants – J. Todd Cox, Brandon Tudor, and Nathan Holic.
  %br
  %br
  These alumni began their recruitment by visiting with local sororities to ask for the names and contact information of men who fit the C.L.A.S.S. profile.  From these names, the consultants began sending out e-mails to the men asking them to come to an information session to learn about the opportunities Pi Kappa Phi has to offer.  These sessions were held in the Illini Union.
  %br
  %br
  Attendance at the first few meetings was sparse, but the expansion consultants were not deterred.  With each information session, more men were coming out, and after the sessions, there were activities in the Illini Union’s pool hall and bowling alley.
  %br
  %br
  The Omega Chapter of Purdue University came to one of the meetings to answer questions about the fraternity.  Once the consultants had met with a potential recruit and deemed him worthy of a bid, they met him for lunch and extended to him a bid to become a founding father.
  %br
  %br
  Within a few weeks of the info sessions and lunches, several potential brothers were accepting their bids, and it was time to move forward with the organization of the new Chapter. The expansion consultants had recruited roughly 20 men and had from them chosen the first executive council, led by Mark Peluse, the chapter’s first Archon. The Fraternity registered itself as an official student organization with the University of Illinois. On March 2nd, the chapter met for its first meeting in the Illini Union, which was run by Nate, Todd, and Brandon.
  %br
  %br
  In the following week, the expansion consultants along with the help of the newly formed chapter recruited approximately 14 more men, to bring their total number to 34.  On Friday, March 7th, the men gathered at the local YMCA for their pre-initiation and installation retreat. Saturday, was spent learning about sound chapter operations.  On that Sunday, the chapter cooked breakfast for the ladies of Gamma Phi Beta as they provided the most potential new member names to the consultants.  After breakfast, the leadership consultants left us to our own ways and that very evening, March 9th we held our first independent chapter meeting in the cafeteria of the Armory House Dorm.
  %br
  %br
  %div.heading
    Local History: Associate Chapter & Charles Moka, Jr.
  During the remaining months of the spring 2003 semester, the Upsilon Associate Chapter accomplished many tasks.  Chairmen were appointed and the basis for a committee structure was formed.  The Chapter forged a Constitution and Bylaws and a Code of Conduct. A recruitment program was put together, along with member education and service standards.
  %br
  %br
  For the next year and a half the chapter strived to create a positive image on campus, to make a strong brotherhood, and to set the groundwork for a thriving chapter.
  %br
  %br
  In the fall of 2004, Charles Moka Jr, the chapter’s Archon and most spirited leader, passed away on August 19th. The chapter was forced to push on in his memory and spirit. Adam Nekola, the Vice-Archon at the time, took over presidential duties and started the chapter with their preparation to charter.
  %br
  %br
  Six months to the day after the passing of their leader, the men of the Upsilon Associate Chapter initiated into Pi Kappa Phi and earned a charter from the National Organization. Upsilon was officially back at the University of Illinois.
  %br
  %br
  %div.heading
    Present Day
  The chapter now boasts over 80 gentlemen and participates in almost every intramural sport offered at the University of Illinois. Consistently, the chapter has been ranked highly for academics on campus.
  %br
  %br
  Push America, the fraternity's philanthropy, continues to be a major focus of the chapter. The chapter’s close relationship with the local Champaign-Urbana Special Recreation is reinforced with consistent community service and volunteering with local people with disabilities.
  %br
  %br
  As the chapter continues to grow, we must thank those who have come before us. We wouldn’t be here if it were not for their safekeeping of the Chapter. Likewise, we continue to recruit men of C.L.A.S.S and look to the future for the next leaders of Pi Kappa Phi.
