%div
  %div.heading
    National History
  Pi Kappa Phi started as an idea of three friends at the College of Charleston in South Carolina. In 1904, we were founded as Nu Phi, the “non-fraternity.” Since then, over 113,000 men have initiated into Pi Kappa Phi, and 178 chapters across 41 states bear our letters.
  %br
  %br
  Learn more about our past and present at our national fraternity’s 
  %a{:href=>"http://pikapp.org/content.aspx?id=172"}
    website.
  %br
  %br
  %div.heading
    Local History: Gamma Sigma Kappa
  %span.italic
    Adapted from Sturges LaVerne Victor (Y45)'s Article "History of Gamma Sigma Kappa Fraternity" from the October 3rd, 1921 issue of The Star & Lamp.
  %br
  %br
  In 1921 the local chapter of Gamma Sigma Kappa became Pi Kappa Phi. The Upsilon chapter is one of the few chapters whose original charter was that of another fraternity. The idea of the formation of Gamma Sigma Kappa Fraternity was conceived by five young men meeting one evening in the spring of 1917 in a basement room of an apartment house in Urbana. It is also said that these founders of the fraternity voted on the measures brought before them on that evening by raising their right foot, signifying thereby that they would give their right foot ere they deserted their organization. Although these five students laid the foundations for the building of the fraternity, not a great deal was accomplished in the way of organization in this spring nor in the following fall except in the selection of seven other men for membership. The first members of Gamma Sigma Kappa were (in the order in which they were received):
  %ul.indentedlist
    %li
      Walter Haines Newcomb, '18
    %li
      Huber Honens Rathbun, '18
    %li
      Elmer Nels Turnquist, '18
    %li
      Mybert Eustace Broom, '21
    %li
      Robert Miller Pearson, '20
    %li
      Eugene Robert Eleson, '18
    %li
      Millard Everett Brame, '20
    %li
      Roy Leslie Barker, '21
    %li
      Marshall Everett Newton, '21
    %li
      John Henry Wamsley, '20
    %li
      Rudolph Albert Faust, '20
    %li
      Carl Roscoe Miller, '20
  %br
  When school opened in the fall of 1918, the war had brought about a number of radical changes. The university had taken over all fraternity houses to be used as barracks. The quest for a house would have to be put on hold. Immediately after the disbanding of the Students' Army Training Corps and the return of the university to normal, the fraternity again became active and work in organization was carried on in earnest. By the end of the quarter, the chapter house at One-O-Six Green Street had been contracted for.
  %br
  %br
  While working hard to make a name for ourselves on the campus of the University of Illinois by delving into all activities, we began to think of nationalization. In the spring of the preceding year the first steps were taken towards nationalization. Before school ended that spring a few letters had been sent to Pi Kappa Phi officials. In the fall of 1920 the nationalization idea was first in the mind of every member, and Commander Paul Walker proceeded with this work in earnest. Our ambitions and hopes were realized after a year of waiting when, on May 19, 1921, we were presented a charter as Upsilon Chapter of Pi Kappa Phi Fraternity.
  %br
  %br
  %div.heading
    Local History: Upsilon Chapter