%div.event
  The Brothers of the Upsilon Chapter wish to extend an invitation to all alumni to come join us for Homecoming.
  %br
  %br
  %div.heading
    Information
  :markdown
    Watch the Fighting Illini take on Michigan State for this year's Homecoming game on October 26th and spend some time with the current Active and Associate members of our Chapter. You can find more information at the University's website [here](http://admin.illinois.edu/homecoming/).
  %br
  %div.heading
    Schedule
  %span.eventtime
    11 AM
  \- Tailgate at the House
  %br
  %span.eventtime
    2:30 PM
  \- Game vs. Michigan State (will be shown at the House as well)
  %br
  %span.eventtime
    4:30 PM
  \- Food and Brotherhood at the House
  %br
  %br
  %div.heading
    RSVP
  :markdown
    You may RSVP to our Facebook event [here](https://www.facebook.com/events/134072473467167/). Note: you must be part of the [Upsilon Facebook group](https://www.facebook.com/groups/84522565319/) and may have to request access to it.

    Feel free to contact Brett Jurgens at [brett@brettjurgens.com](mailto:brett@brettjurgens.com) or (908) 907-4235 if you have any questions.
  %br
  We hope to see you here!