%div.event
  The Brothers of the Upsilon Chapter wish to extend an invitation to all alumni to come join us for Homecoming.
  %br
  %br
  %div.heading
    Information
  :markdown
    Watch the Fighting Illini take on Minnesota for this year's Homecoming game on October 25th and spend some time with the current Active and Associate members of our Chapter. You can find more information at the University's website [here](http://homecoming.illinois.edu/). Make sure to bring your business card as well!
  %br
  %div.heading
    Schedule
  %span.eventtime
    8:00 AM
  \- Tailgate at the House
  %br
  %span.eventtime
    11:00 AM
  \- Game vs. Minnesota (will be shown at the House as well)
  %br
  %span.eventtime
    3:00 PM
  \- Food and Brotherhood at the House
  %br
  %br
  :markdown
    Feel free to contact Kevin Cohn at [kevcohn7@gmail.com](mailto:kevcohn7@gmail.com) or (847) 542-2440 if you have any questions.
  %br
  We hope to see you here!