.tagline
  Pi Kappa Phi will redefine fraternity as a lifelong brotherhood of leaders.
Pi Kappa Phi at the University of Illinois is, as we aptly put it, “Fraternity Redefined”. We distinguish ourselves from the myriad of other Greek houses on campus by placing a stronger emphasis on making the men of our chapter leaders among their peers.
%br
%br
A very legitimate concern that the majority of students rushing our fraternity, or any fraternity for that matter, have is that they will be hazed in the pledging process. Pi Kappa Phi has a strict no hazing policy, and we don’t just say that, we truly mean it. As a matter of fact, our fraternity is passionate enough about preventing hazing that we don’t refer to anyone as a “pledge”. Instead of using a word we consider to be very degrading, we identify a man joining our chapter as an associate member.
%br
%br
Another facet of our fraternity which we take great pride in is our dedication to service and giving back to our community. Pi Kappa Phi has a local partnership with Champaign-Urbana Special Recreation which presents members of our chapter service opportunities to help people with disabilities in the area.
%br
%br
A frequently asked question by men rushing our fraternity is how they will be able to balance the added time commitment inherent in joining a Greek house with the already substantial burden of schoolwork. Luckily there is no need to fear. Our fraternity’s GPA is higher on average than the all non-Greek men’s average of the university. Pi Kappa Phi cultivates an environment which is conducive to achieving academic success and our grades speak to that effect. The data shows that you will actually get better grades in our house than out of it.
%br
%br
In the end, there is only so much I can express to you about the benefits of Pi Kappa Phi, and the advantages that brothers of the fraternity have over their peers on a website. I would love to hear from you though if you are interested in being a part of something much greater than yourself.
%br
%br
Grant Leinberger
%br
.signature
  Vice-President and Head of Recruitment
  %br
  leinberger93@gmail.com
  %br
  (217) 652-0245