The college experience is a once in a lifetime opportunity to learn, grow, and become the person you truly want to become. The commitments you make, the clubs you join, and the actions you do all have bearing on the person you ultimately end up in life.
%br
%br 
Pi Kappa Phi transforms boys into men and furthers these brothers’ initiatives across campus. From the classroom to the athletic fields to the greater Champaign-Urbana community, members make their presence and the values of Pi Kappa Phi known. As one of the refounding fathers of Pi Kappa Phi at Illinois said, "Let’s take over this campus." Today, at Pi Kappa Phi, we do not try to become leaders, we are leaders.